@page "/"

@attribute [AllowAnonymous]

@using MudBlazor

<MudContainer Class="mt-lg-5">
    <MudPaper Class="text-center p-3">
        <MudText Typo="Typo.h2">Lietuvių gestų kalbos atpažinimas</MudText>
        <MudText Typo="Typo.subtitle1" Class="mud-typography-subtitle1 mt-5">
            Sveiki, esu Tomas Kondrotas, Vilniaus Universiteto programų sistemų 4 kurso studentas.
            Savo bakalauriniam darbui išsikėliau tikslą sukurti ir palyginti skirtingus įrankius galinčius atpažinti lietuviškąją gestų kalbą iš vaizdo įrašų.
            Sukūriau šią platformą, kad supaprastinčiau duomenų rinkimą, kurie yra būtini apmokant dirbtinio intelekto modelius,
            tad jei norite dalyvauti šiame projekte ir padėti tobulinti gestų kalbos atpažinimo technologiją, apsvarstykite galimybę pateikti savo vaizdo įrašus.
        </MudText>
    </MudPaper>
</MudContainer>

<MudContainer Class="mt-lg-5">
    <div Class="row h-100">
        <div Class="col-md-4">
            <MudPaper Class="card mb-4 box-shadow h-100">
                <MudImage Src="Images/record.webp"></MudImage>
                <MudCardContent>
                    <MudText Typo="Typo.body1">Pirmas žingsnis dirbtinio intelekto kūrime yra duomenų skirtų jį apmokyti rinkimas. Šioje skiltyje Jūs pasirinksite kokį lietuviškąjį gestą 
                        Jūs norite nufilmuoti, sekdami programos instrukcijas nufilmuosite ir pateiksite vaizdo įrašus skirtus mokymam.</MudText>
                    <div class="text-end">
                        <MudButton Variant="Variant.Outlined" Href="/client/train/signs" Class="mt-3" Color="Color.Primary">Pateikti</MudButton>
                    </div>
                </MudCardContent>
            </MudPaper>
        </div>
        <div Class="col-md-4">
            <MudPaper Class="card mb-4 box-shadow h-100">
                <MudImage Src="Images/train.webp"></MudImage>
                <MudCardContent>
                    <MudText Typo="Typo.body1">Surinkus mokymo duomenis dirbtinio intelekto modeliai jų pagalba yra mokomi. 
                        Ši skiltis bus skirta testuoti apmokytus dirbtinio intelekto modelius ir jų gebėjimą atpažinti lietuviškus gestus iš vaizdo įrašo.</MudText>
                </MudCardContent>
            </MudPaper>
        </div>
        <div Class="col-md-4">
            <MudPaper Class="card mb-4 box-shadow h-100">
                <MudImage Src="Images/review.webp"></MudImage>
                <MudCardContent>
                    <MudText Typo="Typo.body1">Ši skiltis bus skirta palikti atsiliepimus apie apmokytų dirbtinio intelekto modelių gebėjimą atskirti lietuviškos kalbos gestus iš vaizdo įrašo. </MudText>
                </MudCardContent>
            </MudPaper>
        </div>
    </div>
</MudContainer>