@using MudBlazor

<MudContainer style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <div>
        <MudText Typo="Typo.h3">Neprisijungęs vartotojas</MudText> 
        <MudText Typo="Typo.subtitle1">Norint naudotis šiuo aplikacijos funkcionalumu privalote prisijungti</MudText>
    </div>
</MudContainer>